.home-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 700px;
    transition: opacity 1s;
}

.home-container.hidden {
    opacity: 0;
}


.result-container {

}


/* Format */
.padding-vertical {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-horizontal {
    padding-left: 2rem;
    padding-right: 2rem;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}


/* Text */
.nav {
    font-size: 32px;
    padding-right: 6rem !important;
}

.title {
    font-size: 32px;
    font-weight: 600;
}

.subtitle {
    font-size: 28px;
    font-weight: 500;
}

.message {
    font-size: 24px;
    color: #787878;
}

.information {
    font-size: 20px;
}

.welcome {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: -25px;
}

.brand {
    font-size: 100px;
    font-weight: 800;
}

.guide {
    font-size: 20px;
    color: #78787867;
    cursor: pointer;
    transition: color 0.3s ease;
}

.guide:hover {
    color: #686868fb;
}


/* Media */
.image {
    max-width: 96%;
    height: auto;
    display: block;
    border-radius: 2rem;
    -webkit-user-drag: none;
}

.video {
    width: 640px;
    height: 360px;
    display: block;
    border: none;
    border-radius: 2rem;
}

.hint {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: 45%;
    -webkit-user-drag: none;
}

.hint:hover {
    transform: scale(1.1);
}

.question-image {
    width: 450px;
    height: 280px;
    display: block;
    border-radius: 2rem;
    -webkit-user-drag: none;
}

.complete-icon {
    position: absolute;
    top: 14%;
    right: 11%;
    width: 30px;
    z-index: 1;
}


/* Button */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #0063b3;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
}


/* Muscle Group */
.muscle-group {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.muscle-group:hover {
    transform: scale(1.1);
}


/* Choice */
.choice {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.choice:hover {
    transform: scale(1.1);
}

.selected {
    border: 5px solid #007bff;
    border-radius: 2rem;
}
