{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<script>
  let exercise = {{ exercise | tojson }}
  let muscle_group = {{ muscle_group | tojson }}
  let current_index = {{ current_index | tojson }}
  let total = {{ total | tojson }}
  console.log(exercise)
</script>

<!-- Header -->
<div class="padding-vertical">
  <div class="row">
    <div class="title col-md-12">{{ muscle_group }} Exercises</div>
  </div>

  <div class="row">
    <div class="message col-md-12 align-right">Progress: {{ current_index+1 }}/{{ total }}</div>
  </div>
</div>

<!-- Exercise Information -->
<div class="row">

  <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12">
    <iframe class="video" src={{ exercise.url }} allow="fullscreen;"></iframe>
  </div>

  <div class="col-xl-5 col-lg-12 ol-md-12 col-sm-12">

    <div class="title">{{ exercise.name }}</div>

    <div class="row information padding-vertical">
      <div class="col-md-6">Target Muscle Group</div>
      <div class="col-md-6">{{ exercise.primary }}</div>
    </div>

    <div class="row information">
      <div class="col-md-6">Secondary Muscle</div>
      <div class="col-md-6">
        {% set muscles = exercise.secondary %}
        {% if muscles %}
          {% set muscles_str = muscles | join(', ') %}
          {{ muscles_str }}
        {% else %}
          None
        {% endif %}
      </div>
    </div>

    <div class="row information padding-vertical">
      <div class="col-md-6">Equipment</div>
      <div class="col-md-6">{{ exercise.equipment }}</div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12 information padding-vertical">{{ exercise.description }}</div>
</div>

<!-- Buttons -->
<div class="row">
  <div class="col-md-12 center">
    <!-- Previous exercise -->
    {% if current_index > 0 %}
      <a href="/learn/{{ muscle_group }}/{{ current_index-1 }}" class="button">Previous</a>
    {% endif %}

    <!-- Next exercise -->
    {% if current_index < total - 1 %}
      <a href="/learn/{{ muscle_group }}/{{ current_index+1 }}" class="button">Next</a>
    {% endif %}

    <!-- Mark complete -->
    {% if current_index == total - 1 %}
      <button data-id={{ muscle_group }} class="button complete-btn">Complete</button>
    {% endif %}
  </div>
</div>

{% endblock %}