{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<script>
    let muscle_groups = {{ muscle_groups | tojson }}
    let n_completed = {{ n_completed | tojson }}
    let total = {{ total | tojson }}
    console.log(muscle_groups)
</script>

<!-- Header -->
<div class="padding-vertical">
    <div class="row">
        <div class="title col-md-12">Workout Exercises</div>
    </div>

    <div class="row">
        {% if n_completed == total %}
            {% set message = "Great work!" %}
        {% elif n_completed > total / 2 %}
            {% set message = "Almost there!" %}
        {% else %}
            {% set message = "Please select one of the muscle groups" %}
        {% endif %}
        <div class="message col-md-9">{{ message }}</div>
        <div class="message col-md-3 align-right">Progress: {{ n_completed }}/{{ total }}</div>
    </div>
</div>

<!-- Muscle groups -->
<div class="row">
    {% for muscle_group in muscle_groups %}
    <div class="muscle-group col-md-4 col-sm-6 padding-vertical" data-id={{muscle_group.name}}>
        <img class="image" src={{ muscle_group.url }}>
        <div class="subtitle align-center">{{ muscle_group.name }}</div>
    </div>
    {% endfor %}
</div>

<!-- Button -->
{% if n_completed == total %}
<div class="row">
    <div class="col-md-12 center">
        <a href="/quiz" class="button">Start Quiz</a>
    </div>
</div>
{% endif %}

{% endblock %}