{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.3/popup.min.js"></script>

<script>
    let quiz = {{ quiz | tojson }}
    let current_index = {{ current_index | tojson }}
    let total = {{ total | tojson }}
    console.log(quiz)
</script>

<!-- Progress -->
<div class="padding-vertical">
    <div class="row">
      <div class="message col-md-12 align-right">Progress: {{ current_index+1 }}/{{ total }}</div>
    </div>
</div>

<div class="row">
    <!-- Question -->
    <div class="col-md-5 col-sm-12">
        <div class="subtitle">{{ quiz.question }}</div>

        <div class="information padding-vertical">Hint: {{ quiz.hint }}</div>

        <img class="image" src={{ quiz.url }}>
    </div>

    <!-- Choices -->
    <div class="col-md-7 col-sm-12">
        <div class="row">
            {% for choice in quiz.choices %}
            <div class="col-md-6 padding-vertical choice" data-id={{ choice.id }} data-solutions="{{ quiz.solutions }}">
                <img class="image" src={{ choice.url }}>
                <div class="information align-center">{{ choice.answer }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Button -->
<div class="row">
    <div class="col-md-12 center">
        <button class="submit_btn button" data-index={{ current_index }} data-total={{ total }} data-total={{ total }} data-solutions="{{ quiz.solutions }}" data-answer="{{ quiz.answer }}">Submit</button>
    </div>
</div>

{% endblock %}