{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
    let quiz = {{ quiz | tojson }}
    let current_index = {{ current_index | tojson }}
    let total = {{ total | tojson }}
    console.log(quiz)
</script>

<h3>Progress: {{ current_index+1 }}/{{ total }}</h3>

<h3>{{ quiz.question }}</h3>

<h3>Hint: {{ quiz.hint }}</h3>

<img src={{ quiz.url }}>

{% for choice in quiz.choices %}
    <div class="choice" data-id={{choice.id}}>
        <img src={{ choice.url }}>
        <h3>{{ choice.answer }}</h3>
    </div>
{% endfor %}

<!-- Button to the next exercise -->
<button class="submit_btn button" data-index={{current_index}} data-total={{total}} data-total={{total}} data-solutions="{{ quiz.solutions }}">Submit</button>

{% endblock %}